
.col-xs-6{text-align: center;}
#forget{
	font-size: 40px;
	font-weight: bold;
	width:100%;
	outline:none;
	color:#9928DB;
	background:rgba(0,0,0,0.9);
	cursor:pointer;
	visibility: hidden;
}

#time-select{
	font-size: 30px;
	font-weight: bold;
	width:100%;
	outline:none;
	color:white;
	background:rgba(0,0,0,0.9);
	cursor:pointer;
	border:0px;
	text-align: center;
	padding-bottom:5px;
}

#time-range{
	background:black;
	color:#9928DB;
	font-size: 20px;
}

.full-row{
	padding-left:0px;
	padding-right: 0px;
}



#view{
	font-size: 20px;
	font-weight: bold;
	width: 100%;
	outline:none;
	border:1px solid green;
}


#display-media{
	margin-top:20px;
	color:white;
}
#display-media .logo{
	padding:3% 5px;

}

.logo_tw{
	width:70%;
	height:70%;
	margin:10%;
}

#display-media .row{
	background-color: rgba(0,0,0,0.9);
	margin-bottom:20px;
}

#display-media .message{
	padding:3% 8px;
}

.delete-box{
	padding:7% 0px;
	text-align: center;
}


.twitpic{
height:221px;
width: 170px;

}