
.col-xs-6{text-align: center;}
#forget{
	font-size: 20px;
	font-weight: bold;
	width:100%;
	outline:none;
	border:1px solid red;


}

#privacy{
	color:white;
}

#view{
	font-size: 20px;
	font-weight: bold;
	width: 100%;
	outline:none;
	border:1px solid green;

}


/*.fb-box{
  width:100%;

}

.fb-box .panel-heading{
	text-align: left;
}

.fb-box .panel-body{
	color:black;
	padding-top:10px;
	text-align: left;
}

.fb-logo{
  width:30px;
  height:30px;
}

.fb-time{padding-left:5px;}*/

#display-media{
	margin-top:20px;
	color:white;
}
#display-media .logo{
	padding:3% 5px;

}

.logo_tw{
	width:70%;
	height:70%;
	margin:10%;
}

#display-media .row{
	background-color: rgba(0,0,0,0.9);
	margin-bottom:20px;
}

#display-media .message{
	padding:3% 8px;
}

.delete-box{
	padding:7% 0px;
	text-align: center;
}


.twitpic{
height:441px;
width: 339px;

}