.col-xs-6{text-align: center;}
#forget{
	font-size: 20px;
	font-weight: bold;
	width:100px;
	height:100px;
	border-radius: 50%;
	outline:none;
}

#forget span{
	position: relative;
	top:25px
}

#get{
	font-size: 20px;
	font-weight: bold;
	height:100px;
	width: 100px;
	border-radius: 50%;
	outline:none;
}

#get span{
	position: relative;
	top:25px;
}

.fb-box{
  width:100%;

}

.fb-box .panel-heading{
	text-align: left;
}

.fb-box .panel-body{
	color:black;
	padding-top:10px;
	text-align: left;
}

.fb-logo{
  width:30px;
  height:30px;
}

.fb-time{padding-left:5px;}