html,body{
	height:100%;
 	background: url(../skyline.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body{
	padding-top:90px;
}

.navbar-fixed-top {
	background-color: rgba(0, 0, 0, 0.7);
}

#main{
	padding-top:20px;
	min-height: 100%;
	height: auto !important; /*min-height hack, make page fill up screen regardless of device*/
	height: 100%;            /*min-height hack*/
	padding-bottom:30px;
	padding-left: 0px;
	padding-right: 0px;
}

@font-face {
  font-family: BeautySC;
  src: url('../fonts/BEAUTYSC.woff');
}

#logo{margin-top:5px;color:white; font-family:BeautySC;font-size:4em;}

.row{margin-left: 0px;margin-right: 0px;}